@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: 'Anton', sans-serif;
    background-image: url(../fotos-videos/FONDO-CARRITO.jpg);
    background-size: 2000px;
}

.navbar_css {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 20px;
}

.menu {
    display: none;
}

.fondo-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: -1;
}

.fondo-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.logo img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.texto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.texto ul li {
    margin-right: 20px;
}

.texto ul li a,
.texto .btn {
    color: white;
    text-decoration: none;
    font-weight: 700px;
    font-size: 25px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 32px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.3s ease;
    margin-left: 37px;
}

.texto ul li a,
.texto .btn:hover {
    background-color: transparent;
    border-color: #F6D347;
    color: white;
}

.texto ul li a.special,
.texto .btn.special {
    background-color: #F6D347;
    border-color: #F6D347;
    color: black;
}

.texto ul li a.special:hover,
.texto .btn.special:hover {
    background-color: transparent;
    border-color: #F6D347;
    color: white;
}

.titulo-carta {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 200px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    font-size: 27px;
    background-color: rgba(0, 0, 0, 0);
}

h1,
h2 {
    text-align: center;
}

.titulo-bla {
    color: #fff;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    margin-bottom: 20px;
}

.small-product {
    flex: 1 1 calc(50px - 20px);
    max-width: calc(50% - 25px);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    flex: 1 1 calc(50% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #ffffffcb;
    box-sizing: border-box;
}

.product.beer {
    flex: 1 1 calc(25% - 20px);
}

.product h2 {
    font-size: 1.2em;
    margin: auto;
}

.product img {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.product p {
    font-size: 1em;
    margin: auto;
}

.product button {
    background-color: #F6D347;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    font-family: 'Anton', sans-serif;
}

.product button:hover {
    background-color: #fcdc5ece;
}

.cart {
    margin-top: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart th,
.cart td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.cart-total {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.cart-total  button{
    font-size: 35px;
    margin-bottom: 70px;
    background-color: #F6D347;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 180px;
    height: 70px;
    font-family: 'Anton', sans-serif;
}

.cart-total button:hover {
    background-color: initial;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
}

.payment-method {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.payment-method select,
.payment-method button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.payment-method button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.payment-method button:hover {
    background-color: #0056b3;
}

.BACK {
    background-color: #F6D347;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    width: 13%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.BACK i {
    margin-right: 8px; }

@media (max-width: 768px) {


    .footer,
    .footer-links {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        margin-top: 0;
        align-items: center;
    }

    .hamburger,
    .menuppal {
        display: none;
    }
    .copyright{
        margin-right: 24px;
    }
}

@media (max-width: 430px) {

    .texto {
        display: none;
    }

    .container {
        max-width: 350px;
    }

    .hamburger,
    .menuppal {
        display: block;
        right: 0;
    
    }
    
    
    .hamburger {
        align-items: center;
        background-color: transparent;
        left: 0;
        top: 0;
        height: 30px;
        width: 30px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    
    .hamburger.is-active {
        background-color: none;
    }
    
    ._layer {
        background: #ffffff;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    
    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    
    .hamburger:hover .-bottom {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    .hamburger.is-active .-top {
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }
    
    .hamburger.is-active .-mid {
        opacity: 0;
    }
    
    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }
    
    .menuppal.is_active {
        transform: translate3d(0px, 0px, 0px);
    }
    
    .menuppal {
        background-color: rgba(0, 0, 0, 0.85);
        bottom: 0;
        height: 55%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
        text-decoration: none;
    }
    
    .menuppal ul {
        margin: 0;
        padding: 0;
    }
    
    .menuppal ul li {
        list-style: none;
        text-align: center;
        font-family: Verdana, Arial, Helvetica;
        color: black;
        font-size: 1.5rem;
        line-height: 3em;
        height: 3em;
        text-transform: none;
        font-weight: bold;
    }
    
    
    .menuppal ul li a {
        color: #F6D347;
        font-size: 1.5rem;
        margin-top: 0.5em;
        display: block;
        text-decoration: none;
    }
    
    .btn.special {
        background-color: #F6D347;
        border-color: #F6D347;
        color: black;
        border: 2px solid #ffffff;
        border-radius: 32px;
        margin-top: 0.5em;
        width: 50%;
        margin-left: 110px;
    
    }
    
    #carrito {
        color: #cf3f2c;
        font-size: 1.5rem;
        padding: 1%;
        width: 20%;
        margin-left: 170px;
        border: 2px solid #cf3f2c;
        border-radius: 13px;
    }
    
    .menuppal ul li a:hover {
        background-color: white;
        color: #00000050
    }
    
    .btn.special:hover {
        color: black;
    }
    
    #carrito:hover {
        color: rgb(0, 0, 0);
        background-color: #fff;
        border: none;
    }
    

    .footer,
    .footer-links {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        margin-top: 0;
        align-items: center;
    
    }
    .copyright{
        margin-right: 24px;
    }

}