body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../fotos-videos/fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor-login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
}

.contenedor-login h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.contenedor-login label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contenedor-login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.contenedor-login button {
    width: 100%;
    padding: 10px;
    background-color: #0059ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contenedor-login button:hover {
    background-color: #0056b3;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para pantallas mayores a 1440px */
@media (min-width: 1441px) {
    body {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .container {
        padding: 50px;
        font-size: 22px;
    }

    .header {
        font-size: 36px;
    }
}

/* Estilos para pantallas de hasta 1440px */
@media (max-width: 1440px) {
    body {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .container {
        padding: 40px;
        font-size: 20px;
    }

    .header {
        font-size: 32px;
    }
}

/* Estilos para pantallas de hasta 1024px */
@media (max-width: 1024px) {
    body {
        background-size: 125%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .container {
        padding: 30px;
        font-size: 18px;
    }

    .header {
        font-size: 28px;
    }
}

/* Estilos para pantallas de hasta 768px */
@media (max-width: 768px) {
    body {
        background-size: 165%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .container {
        padding: 20px;
        font-size: 16px;
    }

    .header {
        font-size: 24px;
    }
}

/* Estilos para pantallas de hasta 425px */
@media (max-width: 425px) {
    body {
        background-size: 300%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .container {
        padding: 10px;
        font-size: 14px;
    }

    .contenedor-login {
        max-width: 300px;
    }

    .header {
        font-size: 20px;
    }
}