@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.navbar_css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px;
    background-color: #000000;
}

.logo img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.texto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.texto ul li {
    margin-right: 20px;
}

.texto ul li a,
.texto .btn {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 32px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.3s ease;
}

.texto ul li a,
.texto .btn:hover {
    background-color: transparent;
    /* Hace el fondo invisible */
    border-color: #F6D347;
    /* Muestra solo el borde del color */
    color: white;
}

.texto ul li a.special,
.texto .btn.special {
    background-color: #F6D347;
    border-color: #F6D347;
    color: black;
}

.texto ul li a.special:hover,
.texto .btn.special:hover {
    background-color: transparent;
    /* Hace el fondo invisible */
    border-color: #F6D347;
    /* Muestra solo el borde del color */
    color: white;
}


.titulo-carta {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 200px;
}

.btn.carrito {
    background-color: black;
    border-color: #cf3f2c;
    color: #cf3f2c;
}

/*tarjetas*/
.titulo {
    text-align: center;
    margin-top: 110px;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    gap: 15px;
    padding: 0 250px;
    margin-bottom: 80px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    flex-direction: column;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    width: 100%;
    height: 300px;
    cursor: pointer;
    transition: transform 0.3s ease;
    max-width: 440px;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
}

.card p {
    font-size: 30px;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    height: 180px;
    display: grid;
    margin-top: 20px;
}

.card-text {
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
}

.modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    width: 850px;
}

.modal-content p {
    font-size: 23px
}

.modal-content h1 {
    font-size: 43px
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer,
.footer {
    background: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.footer-logo {
    flex: 1;
}

.footer-centro {
    flex: 1;
    text-align: center;
}

.footer-dcha {
    flex: 1;
    text-align: right;
    margin-top: auto;
}

.footer-dcha .copyright {
    color: #F6D347;
    margin-top: 10px;
    font-size: 12px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links span {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links span:hover {
    color: #F6D347;
}

.footer-logo img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

.icono-redes {
    display: flex;
    justify-content: center;
}

.icono-redes a {
    font-size: 30px;
    margin-left: 10px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.icono-redes a:hover {
    color: #F6D347;
}

.hamburger,
.menuppal {
    display: none;
}

@media (max-width: 768px) {

    .slider1 {
        margin-top: 386px;
    }

    .tarjeta {
        width: 50%;
    }


    .footer,
    .footer-links {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        margin-top: 0;
        align-items: center;

    }

    .hamburger,
    .menuppal {
        display: none;
    }
}

@media (max-width: 430px) {

    .tarjetero {
        height: auto;
    }

    .texto {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .hamburger,
    .menuppal {
        display: block;
        right: 0;

    }


    .hamburger {
        align-items: center;
        background-color: transparent;
        left: 0;
        top: 0;
        height: 30px;
        width: 30px;
        padding: 20px 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .hamburger.is-active {
        background-color: none;
    }

    ._layer {
        background: #ffffff;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .hamburger:hover .-bottom {
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .hamburger.is-active .-top {
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }

    .hamburger.is-active .-mid {
        opacity: 0;
    }

    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }

    .menuppal.is_active {
        transform: translate3d(0px, 0px, 0px);
    }

    .menuppal {
        background-color: rgba(0, 0, 0, 0.85);
        bottom: 0;
        height: 55%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
        text-decoration: none;
    }

    .menuppal ul {
        margin: 0;
        padding: 0;
    }

    .menuppal ul li {
        list-style: none;
        text-align: center;
        font-family: Verdana, Arial, Helvetica;
        color: black;
        font-size: 1.5rem;
        line-height: 3em;
        height: 3em;
        text-transform: none;
        font-weight: bold;
        margin-right: 65px;
    }


    .menuppal ul li a {
        color: #F6D347;
        font-size: 1.5rem;
        margin-top: 0.5em;
        display: block;
        text-decoration: none;
    }


    .btn.special {
        background-color: #F6D347;
        border-color: #F6D347;
        color: black;
        border: 2px solid #ffffff;
        border-radius: 32px;
        margin-top: 0.5em;
        width: 50%;
        margin-left: 110px;

    }

    #carrito {
        color: #cf3f2c;
        font-size: 1.5rem;
        padding: 1%;
        width: 20%;
        margin-left: 170px;
        border: 2px solid #cf3f2c;
        border-radius: 13px;
    }

    .menuppal ul li a:hover {
        background-color: white;
        color: #333
    }

    .btn.special:hover {
        color: black;
        /* Cambia el color del texto al hacer hover */
    }

    #carrito:hover {
        color: rgb(0, 0, 0);
        /* Cambia el color del texto al hacer hover */
        background-color: #fff;
        border: none;
    }

    .footer,
    .footer-links {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        margin-top: 0;
        align-items: center;

    }

    .copyright {
        margin-right: 43px;
    }
}