@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 90px;
}

.logo img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.texto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.texto ul li {
    margin-right: 20px;
}

.texto ul li a,
.texto .btn {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 32px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.3s ease;
}

.texto ul li a.special,
.texto .btn.special {
    background-color: #F6D347;
    border-color: #F6D347;
    color: black;
}

.titulo-carta {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 20px;
}

.btn.carrito {
    background-color: black;
    border-color: #cf3f2c;
    color: #cf3f2c;
}

.footer, .footer {
    background: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.footer-logo {
    flex: 1;
}

.footer-centro {
    flex: 1;
    text-align: center;
}

.footer-dcha {
    flex: 1;
    text-align: right;
    margin-top: auto;
}

.footer-dcha .copyright {
    color: #F6D347;
    margin-top: 10px;
    font-size: 12px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links span {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links span:hover {
    color: #F6D347;
}

.footer-logo img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

.icono-redes {
    display: flex;
    justify-content: center;
}

.icono-redes a {
    font-size: 30px;
    margin-left: 10px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.icono-redes a:hover {
    color: #F6D347;
}