@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.navbar_css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px;
}

.fondo-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: -1; /* Para que el div de la imagen esté detrás de los otros elementos del nav */
}

.fondo-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurar que la imagen se ajuste dentro del div */
}


.logo img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.texto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.texto ul li {
    margin-right: 20px;
}

.texto ul li a,
.texto .btn {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 32px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.3s ease;
}

.texto ul li a.special,
.texto .btn.special {
    background-color: #F6D347;
    border-color: #F6D347;
    color: black;
}

.titulo-carta {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 200px;
}

.btn.carrito {
    background-color: black;
    border-color: #cf3f2c;
    color: #cf3f2c;
}

h1.titulo-carta{
    margin-top: 35%;
}

.slider1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 462px;
    background-color: #F6D347;
}

.texto-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según tu diseño */
}

.m-scroll-title {
    white-space: nowrap; /* Evita que el texto se desborde hacia abajo */
    overflow: hidden; /* Oculta el texto que se desborda horizontalmente */
}

.m-scroll-title div {
    display: flex; /* Agregado */
    animation: scrollText 20s infinite linear; /* Ajusta la velocidad y la duración de la animación según sea necesario */
    animation-delay: -10s; /* Ajusta el retraso para que la animación comience inmediatamente */
}

@keyframes scrollText {
    0% {
        transform: translateX(0%); /* Cambiado de 100% a 0% */
    }
    100% {
        transform: translateX(-100%);
    }
}

.slider-title-span {
    margin-right: 20px; /* Espaciado entre cada elemento span */
    font-size: 100px; /* Tamaño del texto */
    font-weight: bold; /* Peso de la letra */
    font-family: "Arial Black", Arial, sans-serif; /* Fuente de la letra */
    color: transparent; /* Color transparente para ocultar el texto */
    -webkit-text-stroke: 3px #333; /* Añade un contorno de 3px alrededor del texto */
    -webkit-text-fill-color: transparent; 
}

.slider-title-span.underline {
    text-decoration: underline;
}

.tarjetero {
    display: flex;
    flex-direction: column;

}

.tarjetas {
    display: flex;
}

.tarjeta {
    flex: 1;
    margin: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.boton-tarjeta {
    display: block;
    width: 100%;
    height: 100%;
    padding: 100px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-tarjeta:hover {
    background-color: #0056b3;
}


.footer, .footer {
    background: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin-top: 10%;
}

.footer-logo {
    flex: 1;
}

.footer-centro {
    flex: 1;
    text-align: center;
}

.footer-dcha {
    flex: 1;
    text-align: right;
    margin-top: auto;
}

.footer-dcha .copyright {
    color: #F6D347;
    margin-top: 10px;
    font-size: 12px;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links span {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links span:hover {
    color: #F6D347;
}

.footer-logo img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

.icono-redes {
    display: flex;
    justify-content: center;
}

.icono-redes a {
    font-size: 30px;
    margin-left: 10px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.icono-redes a:hover {
    color: #F6D347;
}