@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    font-family: "Knockout", "Helvetica", "Arial", sans-serif;
}

/* Estilos para el contenedor que engloba el video de fondo */
.contenedor-con-video {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Ajusta el tamaño mínimo a la altura de la ventana */
}

#video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño del video para cubrir todo el contenedor */
    z-index: -1;
}

/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    height: 90px;
}

.logo img {
    width: 50px;
    margin-left: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.texto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.texto ul li {
    margin-right: 10px;
}

.texto ul li a,
.texto .btn {
    color: white;
    text-decoration: none;
    font-family: "Knockout", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    border: 2px #ffffff solid;
    border-radius: 32px;
    padding: .75rem 1rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    margin-right: 10px;
}

.texto ul li a.special,
.texto .btn.special {
    background-color: #F6D347;
    border: 2px #ffffff solid;
    color: black;
}
.texto ul li a.carrito,
.texto .btn.carrito {
    background-color: black;
    border: 2px #cf3f2c solid;
    color: #cf3f2c;
}





/* Estilos para el centro */
.centro {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.imagen {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

.botones-container {
    display: flex;
    gap: 20px;
}

.boton {
    padding: 20px 40px;
    background-color: #000000;
    color: #F6D347;
    border: 2px #ffffff solid;
    text-decoration: none;
    font-family: "Knockout", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 25px;
    border-radius: 35px;
    transition: background-color 0.3s ease;
    width: 200px;
}



.boton:hover {
    background-color: #F6D347;
    color: rgb(0, 0, 0);
}

/* Estilos para el footer */
footer {
    background: transparent;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    height: 100px;

}
.footer-dcha {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.footer-links {
    display: flex; /* Para alinear los elementos en la misma línea */
}

.footer-links span {
    margin-right: 10px; /* Espacio entre los elementos */
}

.footer-dcha span {
    cursor: pointer;
}

.footer-dcha span:hover {
    color: #F6D347;
}

.footer-dcha .copyright {
    color: #ffffffa1;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}
.footer-logo img {
    width: 60px;
    margin-left: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.footer-logo img:hover {
    transform: scale(1.1);
}
.footer-centro {
    flex-grow: 1;
    margin-left: 307px;
}
.footer-centro p {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}
.icono-redes a {
    font-size: 30px;
    margin-left: 10px;
    color: aliceblue;
}
.icono-redes a:hover {
    color: #F6D347;
}

