@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Establece el fondo para el contenedor que engloba el nav y el fondo de hamburguesa */
.contenedor-con-video {
    position: relative;
    width: 100%;
    height: 60vh; /* Hace que ocupe toda la pantalla */
    overflow: hidden;
}

#video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /* Lo coloca detrás de los demás elementos */
}
/* Estilos para el navbar */
.navbar {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    height: 90px;
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
    font-size: 24px; /* Ajusta el tamaño del texto */
    margin-bottom: -20px; /* Reduce el espacio inferior */
    font-weight: 700; /* Utiliza la variante en negrita de la fuente */
}


.logo img {
    width: 50px;
    margin-right: 650px;
    margin-top: 19px;
    margin-left: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}


.texto {
    margin-left: auto; /* Mueve el texto hacia la derecha */
}

.texto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 24px;
}

.texto ul li {
    margin-right: 20px;
}

.texto ul li a {
    color: white;
    text-decoration: none;
}

.iconos {
    display: flex; /* Asegura que los iconos estén en línea */
    margin-left: 20px;
}

.iconos a {
    color: white !important; /* Forza el color blanco */
    text-decoration: none; /* Elimina el subrayado */
    margin-right: 20px; /* Añade margen entre los iconos */
}



/* Estilos para el slider de texto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3em;
}

.slider1 {
    width: auto;
    height: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
    margin-top: 0; /* Elimina el margen superior */
}

.texto-slider {
    display: flex;
    position: relative;
    width: 80%;
    height: 100px;
    margin: auto;
    z-index: 1;
}

.m-scroll-title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 1s ease;
}

.m-scroll-title div {
    display: flex;
    animation: scrollText 30s infinite linear;
}

.m-scroll-title h1 {
    margin: 0 0 0 .3em;
    color: transparent;
}

.m-scroll-title h1:not(.slider-title-span) {
    color: black;
}

.slider-title-span {
    color: rgb(251, 255, 41);
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}
/*CENTRO*/
.centro {
    text-align: center;
}

.texto {
    font-size: 24px;
    margin-bottom: 20px;
}

.boton {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #0056b3;
}
/*FOOTER*/
footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}


.footer-logo img {
    width: 60px;
    margin-left: 350px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

.footer-centro {
    flex-grow: 1;
    margin-left: 150px;
}

.footer-centro p {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.icono-redes {
    margin-bottom: 10px;
}

.icono-redes a {
    font-size: 30px;
    margin-left: 10px;
    color: aliceblue;
}

.icono-redes a:hover {
    color: yellow;
}

.footer-dcha {
    margin-right: 250px;
}

.footer-dcha span {
    cursor: pointer;
}

.footer-dcha span:hover {
    color: yellow;
}

.footer-dcha .copyright {
    color: #ffffffa1;
    margin: 0;
    font-size: 12px;
}