@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    height: 90px;
}

.logo img {
    width: 64px;
    margin-right: 650px;
    margin-top: 19px;
}

.texto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 20px;
}

.texto ul li {
    margin-right: 20px;
}

.texto ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.texto ul li a:hover {
    color: yellow;
}

.iconos a {
    color: white;
    margin-left: 20px;
    transition: color 0.3s;
}

.iconos a:hover {
    color: yellow;
}

/*FOTO HAMBURGUESA*/
.fondo-hamburguesa {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: url('foto-hamburguesa3.jpg');
    background-size: cover;
    background-position: center;
}

/*SILDER TEXTO*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3em;
}

.slider1 {
    width: auto;
    height: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
    margin-top: auto;
}

.texto-slider {
    display: flex;
    position: relative;
    width: 80%;
    height: 100px;
    margin: auto;
    z-index: 1;
}

.m-scroll-title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 1s ease;
}

.m-scroll-title div {
    display: flex;
    animation: scrollText 30s infinite linear;
}

.m-scroll-title h1 {
    margin: 0 0 0 .3em;
    color: transparent;
}

.m-scroll-title h1:not(.slider-title-span) {
    color: black;
}

.slider-title-span {
    color: rgb(251, 255, 41);
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

/*FOOTER*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
}

.footer-izq {
    margin-left: 100px;
    margin-right: 400px ;
    cursor: pointer;
}

.footer-izq span:hover {
    color: yellow;
}

.footer-centro img {
    width: 50px;
    margin-right: 400px;
}

.icono-redes a {
    font-size: 20px;
    margin-left: 10px;
    color: aliceblue;
    margin-top: auto;
}

.icono-redes a:hover {
    color: yellow; 
}
