.gradient-custom {
    /* fallback for old browsers */
    background: #eef130;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(143, 141, 32), rgb(248, 252, 37));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(75, 74, 4), rgb(231, 233, 132));
    }